:root {
  --white: #fff;
  --black: #000;
  --green: #b2d6c8;
  --gold: #e5ae2c;
  --red: #f48b73;
  --grey: #e3e3e3;

  --primary: var(--black);
  --secondary: var(--gold);
  --card-background: var(--green);

  --font-heading: Literata, serif;
  --font-text: 'Open Sans', sans-serif;

  --border-radius: 20px;

  font-family: var(--font-text);
  color: var(--black);
  background: var(--grey);
}

* {
  margin: 0;
}

body {
  max-width: 60rem;
  margin: 0 auto;
  background: var(--white);
  min-height: 100vh;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 4rem;
}

header {
  display: grid;
  grid-template-columns: min-content auto;
  border-radius: var(--border-radius);
  background: var(--gold);
  padding: 1rem;
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

header div {
  grid-column 2;
}

header img {
  grid-column: 1;
}

header p:first-of-type {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

header span {
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.all-persons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.person {
  display: flex;
  background: var(--green);
  padding: 20px 20px;
  border-radius: var(--border-radius);
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.socials {
  display: flex;
  margin-top: 20px;
}

.socials img {
  width: 50px;
  height: auto;
}

.image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid black;
}

.avatar {
  width: 100%;
}

.right-column p {
  margin: 0;
}

p.name {
  font-size: 24px;
  margin-bottom: 10px;
}

p.person-title {
  font-style: italic;
  margin-bottom: 25px;
}
